/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: var(--verde);
}

body {
    overflow: hidden;
}
/* Variables */
:root {
    --gris-claro-500: #0B4654;
    --gris-claro-600: #0B4654;
    --gris: #00000080;
    --verde: #07B464;
    --fondo-blanco: #EBFCF4;
    --blanco: #FFFFFF;
    --fondo-blanco-derecha: #FFFFFF;
    --borde-gris: #0B465440;
}

/* Modo Oscuro */
@media (prefers-color-scheme: dark) {
    :root{
        --gris-claro-500: #166e84;
        --gris-claro-600: #13758e;
        --gris: #efefef;
        --verde: #07B464;
        --fondo-blanco: #85cfac;
        --blanco: #bccbc4;
        --fondo-blanco-derecha: #1d1d1d;
        --borde-gris: #0B465440;
    
    }
    bottom {
        color: var(--color-negro);
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --gris-claro-500: #0B4654;
        --gris-claro-600: #0B4654;
        --gris: #00000080;
        --verde: #07B464;
        --fondo-blanco: #EBFCF4;
        --blanco: #FFFFFF;
        --fondo-blanco-derecha: #FFFFFF;
        --borde-gris: #0B465440;
    }
    
}

/* Main Container Styles */
.container {
    /* size */
    width: 100%;
    height: 100vh;

    /* Display */
    display: flex;
}

    /* img container (Left Container) */
.img-container {
    /* size */
    width: 50%;
    height: 100vh;

    background-color: var(--fondo-blanco);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-container img {
    width: 60%;
    object-fit: contain;
    position: absolute;
}

.img-container img:first-child {
    z-index: 1;
}


    /* ---- Header of Image (left) ---- */
.header {
    position: absolute;
    top: 46px;
    left: 102px;
    margin-top: 46px;

}

.header ul {
    /* size */
    width: 100%;

    /* display */
    display: flex;

    /* docoration */
    list-style: none;
    gap: 47px;
}

.header ul li {
    /* font styles */
    font-family: 'Athiti';
    font-weight: 500;
    font-size: 20px;
    color: var(--gris-claro-500);

    /* effects */
    cursor: pointer;
}

    /* Form Right Main Container */
.form-container {
    /* size */
    width: 50%;
    height: 100vh;

    /* radius */
    border-radius: 52px, 0px, 0px, 52px;

    background-color: var(--fondo-blanco-derecha);

}

.form-header {
    /* Display */
    display: flex;
    align-items: center;
    gap: 26px;

    /* Margin */
    margin: 46px 64px 36px;


}

.form-header h1 {
    /* font styles */
    font-family: 'Athiti';
    font-size: 35px;
    font-weight: 600;
    color: var(--gris-claro-600);
    

}

.form-header img, h1 {
    cursor: pointer;
}


form {
    width: 70%;
    height: 100vh;
    margin-inline: auto;

}

form h2 {
    /* Font Styles */
    font-family: 'Athiti';
    font-size: 29.57px;
    font-weight: 600;
    color: var(--gris-claro-600);

    /* margin */
    margin-bottom: 16px;
}

.mobile {
    display: none;
}

.form-control {
    position: relative;
}

.form-control > input {
    /* size */
    width: -webkit-fill-available;

    /* Margin / Padding */
    padding: 11px;
    padding-inline: 36px;
    margin-bottom: 16px;

    /* styles */
    border-radius: 6px;
    border: 1.48px solid var(--borde-gris);
    outline: none;

    /* fonts */
    font-family: 'Athiti';
    font-weight: 400;
    font-size: 11px;
    color: var(--gris);

    background-color: var(--blanco);

}

.form-control > input:focus {
    border:2px solid var(--verde);
}

.left-icon {
    position: absolute;
    left: 10px;
    transform: translate(0, 50%);
}

.right-icon {
    position: absolute;
    transform: translateY(50%);
    right: 5%;
}

.mb14 {
    margin-bottom: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 40px;
}

.checkbox input {
    border-radius: 8px;
    border: 0.74px solid #0B46543D;
}

.checkbox label {
    font-family: 'Athiti';
    font-size: 11px;
    font-weight: 400;
    color: var(--gris);
    cursor: pointer;
}

.btn-container {
    width: 100%;
}

.btn-container button {
    width: -webkit-fill-available;
    padding: 11px;
    border-radius: 12px;
    border: none;
    margin-bottom: 18px;

    font-family: 'Athiti';
    font-weight: 500;
    font-size: 11px;

    cursor: pointer;
}

.btn-container button:first-child {
    background-color: var(--verde);
    text-transform: uppercase;
    color: var(--blanco);
}

.btn-container button[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--blanco);
    border: 1px solid var(--borde-gris);

    transition: transform 0.2s ease;
}

.btn-container button:hover {
    transform: scale(1.1);
}


.mb20 {
    margin-bottom: 20px;
}

form p {
    margin-inline: auto;


    font-family: 'Athiti';
    font-size: 17px;
    font-weight: 500;
    color: var(--gris);
    text-align: center;
}

/* ################## Responsive ######################## */
@media ( max-width: 428px ) {
    body {
        overflow: auto;
        height: auto;
    }

    .container {
        display: block;
        
    }

    .img-container {
        height: 25vh;
        width: 100%;
        background-color: var(--fondo-blanco-derecha);
    }

    .img-container img {
        height: 100%;
    }

    .stars {
        display: none;
    }

    .header {
        display: none;
    }

    form h2:first-child {
        display: none;
    }

    .mobile {
        display: inline;
        font-size: 23px;
        margin-bottom: 7px;
    }
    

    .form-container {
        width: 100%;
        height: 75vh;

    }

    .form-header {
        display: none;
    }

    form {
        margin: auto;
        width: 75%;
        height: 50vh;
        display: grid;
        place-items: center;
    }

    
    
    .form-control:last-child {
        margin-bottom: 4px;
    }

    .form-control {
        width: 100%;
    }
    
    .form-control > input {
        margin-bottom: 9px;
        width: 100%;
    }
    
    .mb14 {
        margin-bottom: 4px;
    }
    .form p:last-child {
        font-size: 9px;
    }

    .checkbox {
        margin-bottom: 11px;
    }

    form > p {
        font-size: 12px;
    }
}