/* CSS Variables */
:root {
    --color-azul: #0982FE;
    --color-verde: #6DE1C2;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-rojo: #DD5471;
    --color-gris-800: #8E8E8E;
    --color-gris-700: #737B7D;
}

/* Global */
* {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    color: var(--color-negro);
}

h1, h1 * {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 600;
    color: var(--color-negro);
}

h1 > span {
    color: var(--color-verde);
}

.mb24 {
    margin-bottom: 24px;
}

/* Main Container */
.contenedor {
    width: 100%;
    display: flex;
    height: 100vh;
}

.contenedor-formulario {
    width: 50%;
    display: flex;
    height: 100vh;
}

.contenedor-mapa {
    width: 50%;
    display: flex;
    align-items: center;
}

.form-control {
    width: 100%;
    margin-bottom: 8px;
}

.form-control > input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-gris-700);
    padding: 12px 16px;
    width: --webkit-fill-available;
}

.form-control > input::placeholder {
    color: var(--color-gris-800);
}

.fila-controles {
    display: flex;
    gap: 24px;
}

.fila-controles > .form-controln:first-child {
    width: 70%;
}
.fila-controles > .form-controln:last-child {
    width: 30%;
}

.drag-drop-zone {
    border: 1px dashed var(--color-gris-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 24px;
}

.mb19 {
    margin-bottom: 19px;
}

.drag-drop-zone > span .drag-drop-zone-helper {
    color: var(--color-gris-800);

}

.checkbox {
    display: flex;
    gap: 8px;
}

button {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 16px 0px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 600;
    text-transform: uppercase;
}

.formas-contacto {
    display: flex;

}

.formas-contacto > div {
    display: flex;
}


